.cabecera{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background: white;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav ul, li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

form{
    margin: 40px;
}

form label, form legend{
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 10px 25px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.send{
    width: 10%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: gray;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.send:hover{
    background: gray;
    transform: scale(1.2);
}

