.cabecera{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    background: white;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav ul, li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.map{
    padding: 3em 0;
    text-align: center;
}

.map p{
    margin: 0 0 2em;
    text-align: center;

}
.map-contenido{
    width: 940px;
    margin: 0 auto;
}
